USE [try8]
GO
/****** Объект:  Table [dbo].[_categories]    Дата создания скрипта: 16.06.2026 4:56:13 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_categories](
	[ID_category] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__categories] PRIMARY KEY CLUSTERED 
(
	[ID_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[_manufacturers]    Дата создания скрипта: 16.06.2026 4:56:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_manufacturers](
	[ID_manufacturer] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK__manufacturers] PRIMARY KEY CLUSTERED 
(
	[ID_manufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[_order_parts]    Дата создания скрипта: 16.06.2026 4:56:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_order_parts](
	[ID_part] [int] IDENTITY(1,1) NOT NULL,
	[article] [nvarchar](50) NOT NULL,
	[count] [int] NOT NULL,
	[order_ID] [int] NOT NULL,
 CONSTRAINT [PK__order_parts] PRIMARY KEY CLUSTERED 
(
	[ID_part] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[_orders]    Дата создания скрипта: 16.06.2026 4:56:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_orders](
	[ID_order] [int] IDENTITY(1,1) NOT NULL,
	[date_ordered] [nvarchar](50) NOT NULL,
	[date_recieved] [nvarchar](50) NOT NULL,
	[PVZ_ID] [int] NOT NULL,
	[user_ID] [int] NULL,
	[code] [nvarchar](50) NULL,
	[status_ID] [int] NOT NULL,
 CONSTRAINT [PK__orders] PRIMARY KEY CLUSTERED 
(
	[ID_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[_products]    Дата создания скрипта: 16.06.2026 4:56:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_products](
	[article] [nvarchar](50) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[price] [float] NOT NULL,
	[provider_ID] [int] NOT NULL,
	[manufacturer_ID] [int] NOT NULL,
	[category_ID] [int] NOT NULL,
	[discount] [float] NOT NULL,
	[count] [int] NOT NULL,
	[description] [nvarchar](250) NOT NULL,
	[image_path] [nvarchar](150) NULL,
 CONSTRAINT [PK__products] PRIMARY KEY CLUSTERED 
(
	[article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[_providers]    Дата создания скрипта: 16.06.2026 4:56:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_providers](
	[ID_provider] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK__providers] PRIMARY KEY CLUSTERED 
(
	[ID_provider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[_PVZ]    Дата создания скрипта: 16.06.2026 4:56:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_PVZ](
	[ID_PVZ] [int] IDENTITY(1,1) NOT NULL,
	[info] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK__PVZ] PRIMARY KEY CLUSTERED 
(
	[ID_PVZ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[_roles]    Дата создания скрипта: 16.06.2026 4:56:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_roles](
	[ID_role] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__roles] PRIMARY KEY CLUSTERED 
(
	[ID_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[_statuses]    Дата создания скрипта: 16.06.2026 4:56:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_statuses](
	[ID_status] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__statuses] PRIMARY KEY CLUSTERED 
(
	[ID_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[_users]    Дата создания скрипта: 16.06.2026 4:56:14 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_users](
	[ID_user] [int] IDENTITY(1,1) NOT NULL,
	[role_ID] [int] NOT NULL,
	[FIO] [nvarchar](150) NOT NULL,
	[login] [nvarchar](150) NOT NULL,
	[password] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK__users] PRIMARY KEY CLUSTERED 
(
	[ID_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[_categories] ON 

INSERT [dbo].[_categories] ([ID_category], [name]) VALUES (1, N'Женская обувь')
INSERT [dbo].[_categories] ([ID_category], [name]) VALUES (2, N'Мужская обувь')
SET IDENTITY_INSERT [dbo].[_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[_manufacturers] ON 

INSERT [dbo].[_manufacturers] ([ID_manufacturer], [name]) VALUES (1, N'Kari')
INSERT [dbo].[_manufacturers] ([ID_manufacturer], [name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[_manufacturers] ([ID_manufacturer], [name]) VALUES (3, N'Рос')
SET IDENTITY_INSERT [dbo].[_manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[_order_parts] ON 

INSERT [dbo].[_order_parts] ([ID_part], [article], [count], [order_ID]) VALUES (3, N'H782T5', 1, 2)
INSERT [dbo].[_order_parts] ([ID_part], [article], [count], [order_ID]) VALUES (5, N'J384T6', 10, 3)
INSERT [dbo].[_order_parts] ([ID_part], [article], [count], [order_ID]) VALUES (8, N'D329H3', 4, 4)
SET IDENTITY_INSERT [dbo].[_order_parts] OFF
GO
SET IDENTITY_INSERT [dbo].[_orders] ON 

INSERT [dbo].[_orders] ([ID_order], [date_ordered], [date_recieved], [PVZ_ID], [user_ID], [code], [status_ID]) VALUES (2, N'25.09.2022', N'26.04.2025', 24, 1, N'902', 2)
INSERT [dbo].[_orders] ([ID_order], [date_ordered], [date_recieved], [PVZ_ID], [user_ID], [code], [status_ID]) VALUES (3, N'21.03.2025', N'22.04.2025', 2, 2, N'903', 2)
INSERT [dbo].[_orders] ([ID_order], [date_ordered], [date_recieved], [PVZ_ID], [user_ID], [code], [status_ID]) VALUES (4, N'20.02.2025', N'23.04.2025', 11, 3, N'904', 2)
SET IDENTITY_INSERT [dbo].[_orders] OFF
GO
INSERT [dbo].[_products] ([article], [name], [price], [provider_ID], [manufacturer_ID], [category_ID], [discount], [count], [description], [image_path]) VALUES (N'B320R5', N'Макасин4', 6952, 2, 2, 2, 10, 1, N'ИЗМЕНЕНО3', N'9.jpg')
INSERT [dbo].[_products] ([article], [name], [price], [provider_ID], [manufacturer_ID], [category_ID], [discount], [count], [description], [image_path]) VALUES (N'B431R5', N'Ботинки', 2700, 2, 4, 2, 2, 5, N'Мужские кожаные ботинки/мужские ботинки', N'default.png')
INSERT [dbo].[_products] ([article], [name], [price], [provider_ID], [manufacturer_ID], [category_ID], [discount], [count], [description], [image_path]) VALUES (N'D268G5', N'Туфли', 4399, 2, 4, 1, 3, 12, N'Туфли Rieker женские демисезонные, размер 36, цвет коричневый', N'default.png')
GO
SET IDENTITY_INSERT [dbo].[_providers] ON 

INSERT [dbo].[_providers] ([ID_provider], [name]) VALUES (1, N'Kari')
INSERT [dbo].[_providers] ([ID_provider], [name]) VALUES (2, N'Обувь для вас')
SET IDENTITY_INSERT [dbo].[_providers] OFF
GO
SET IDENTITY_INSERT [dbo].[_PVZ] ON 

INSERT [dbo].[_PVZ] ([ID_PVZ], [info]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[_PVZ] ([ID_PVZ], [info]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[_PVZ] ([ID_PVZ], [info]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
SET IDENTITY_INSERT [dbo].[_PVZ] OFF
GO
SET IDENTITY_INSERT [dbo].[_roles] ON 

INSERT [dbo].[_roles] ([ID_role], [name]) VALUES (1, N'Администратор')
INSERT [dbo].[_roles] ([ID_role], [name]) VALUES (2, N'Менеджер')
INSERT [dbo].[_roles] ([ID_role], [name]) VALUES (3, N'Авторизированный клиент')
SET IDENTITY_INSERT [dbo].[_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[_statuses] ON 

INSERT [dbo].[_statuses] ([ID_status], [name]) VALUES (1, N'Новый')
INSERT [dbo].[_statuses] ([ID_status], [name]) VALUES (2, N'Завершен')
SET IDENTITY_INSERT [dbo].[_statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[_users] ON 

INSERT [dbo].[_users] ([ID_user], [role_ID], [FIO], [login], [password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[_users] ([ID_user], [role_ID], [FIO], [login], [password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[_users] ([ID_user], [role_ID], [FIO], [login], [password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[_users] OFF
GO
ALTER TABLE [dbo].[_products] ADD  CONSTRAINT [DF__products_image_path]  DEFAULT (N'default.png') FOR [image_path]
GO
ALTER TABLE [dbo].[_order_parts]  WITH CHECK ADD  CONSTRAINT [FK__order_parts__orders] FOREIGN KEY([order_ID])
REFERENCES [dbo].[_orders] ([ID_order])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[_order_parts] CHECK CONSTRAINT [FK__order_parts__orders]
GO
ALTER TABLE [dbo].[_order_parts]  WITH CHECK ADD  CONSTRAINT [FK__order_parts__products] FOREIGN KEY([article])
REFERENCES [dbo].[_products] ([article])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[_order_parts] CHECK CONSTRAINT [FK__order_parts__products]
GO
ALTER TABLE [dbo].[_orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__PVZ] FOREIGN KEY([PVZ_ID])
REFERENCES [dbo].[_PVZ] ([ID_PVZ])
GO
ALTER TABLE [dbo].[_orders] CHECK CONSTRAINT [FK__orders__PVZ]
GO
ALTER TABLE [dbo].[_orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__statuses] FOREIGN KEY([status_ID])
REFERENCES [dbo].[_statuses] ([ID_status])
GO
ALTER TABLE [dbo].[_orders] CHECK CONSTRAINT [FK__orders__statuses]
GO
ALTER TABLE [dbo].[_orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__users] FOREIGN KEY([user_ID])
REFERENCES [dbo].[_users] ([ID_user])
GO
ALTER TABLE [dbo].[_orders] CHECK CONSTRAINT [FK__orders__users]
GO
ALTER TABLE [dbo].[_products]  WITH CHECK ADD  CONSTRAINT [FK__products__categories] FOREIGN KEY([category_ID])
REFERENCES [dbo].[_categories] ([ID_category])
GO
ALTER TABLE [dbo].[_products] CHECK CONSTRAINT [FK__products__categories]
GO
ALTER TABLE [dbo].[_products]  WITH CHECK ADD  CONSTRAINT [FK__products__manufacturers] FOREIGN KEY([manufacturer_ID])
REFERENCES [dbo].[_manufacturers] ([ID_manufacturer])
GO
ALTER TABLE [dbo].[_products] CHECK CONSTRAINT [FK__products__manufacturers]
GO
ALTER TABLE [dbo].[_products]  WITH CHECK ADD  CONSTRAINT [FK__products__providers] FOREIGN KEY([provider_ID])
REFERENCES [dbo].[_providers] ([ID_provider])
GO
ALTER TABLE [dbo].[_products] CHECK CONSTRAINT [FK__products__providers]
GO
ALTER TABLE [dbo].[_users]  WITH CHECK ADD  CONSTRAINT [FK__users__roles] FOREIGN KEY([role_ID])
REFERENCES [dbo].[_roles] ([ID_role])
GO
ALTER TABLE [dbo].[_users] CHECK CONSTRAINT [FK__users__roles]
GO
